@import "vars.css";

footer {
    background-color: var(--div-bg-color);
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    p, button {
        margin: var(--margin);
    }
}
