@import "vars.css";
@import "header.css";
@import "footer.css";
@import "home.css";
@import "not-found.css";
@import "auth.css";
@import "drivers.css";

@font-face {
    font-family: Titillium;
    src: local("./assets/TitilliumWeb-Regular.ttf");
}

@font-face {
    font-family: Titillium;
    src: local("./assets/TitilliumWeb-Bold.ttf");
    font-weight: bold;
}

html {
    color-scheme: light dark; 
}

body {
    font-family: Titillium, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main */
main {
    flex: 1;
    padding: 2rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

/* Overlay */
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    #spinner img {
        position: absolute;
        top: 46%;
        left: 46%;
        width: 8%;
        height: auto;
        display: block;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.hidden {
    display: none;
}

/* Links */
#links-section {
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    #links, #socials {
        padding: 0 0 10px 10px;
        background-color: var(--container-bg-color);
        border-radius: var(--radius);
    }
    #links {
        flex: 1 1 0;
        min-width: 0;
    }
    #socials {
        flex: 0 1 50%;
        max-width: 50%;
    }
    h3 {
        padding-left: 10px;
    }
    div {
        font-size: 1.1rem;
    }
    a {
        color: var(--text-color);
        margin: 10px;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    img {
        max-width: 6%;
        height: auto;
    }
}

/* Screen size */
@media (max-width: 1000px) {
    #links-section {
        flex-direction: column;
        #socials {
            flex: 1 1 0;
            max-width: none;
        }
        img {
            max-width: 6%;
            height: auto;
        }
    }
}