@import "header.css";
@import "footer.css";

/* General styles */
@font-face {
    font-family: Titillium;
    src: local("./assets/TitilliumWeb-Regular.ttf");
}

@font-face {
    font-family: Titillium;
    src: local("./assets/TitilliumWeb-Bold.ttf");
    font-weight: bold;
}

body {
    font-family: Titillium, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #15151E;
    color: var(--text-color);
}
