/* Light theme*/
:root {
    --text-color: #1C1C25;
    --bg-color: #F6F4F0;
    --container-bg-color: #FFF;
    --radius: 10px;
}

/* Dark theme */
:root[data-theme="dark"] {
    --text-color: #FFFFFF;
    --bg-color: #212129;
    --container-bg-color: #2C2C36;
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --text-color: #FFFFFF;
        --bg-color: #212129;
        --container-bg-color: #2C2C36;
    }
}